-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "citext";

-- CreateEnum
CREATE TYPE "ContractType" AS ENUM ('ERC721_DROP', 'ERC721_SINGLE', 'ERC1155_SINGLE');

-- CreateEnum
CREATE TYPE "MetadataOption" AS ENUM ('UPLOAD', 'EXTERNAL');

-- CreateEnum
CREATE TYPE "ListingStatus" AS ENUM ('ACTIVE', 'SOLD', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "AuctionStatus" AS ENUM ('ACTIVE', 'ENDED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "DraftStatus" AS ENUM ('DRAFT', 'FINALIZED', 'CONSUMED');

-- CreateEnum
CREATE TYPE "IndexStatus" AS ENUM ('PENDING', 'QUEUED', 'INDEXING', 'COMPLETED', 'ERROR');

-- CreateEnum
CREATE TYPE "NftStatus" AS ENUM ('PENDING', 'SUCCESS', 'ERROR');

-- CreateEnum
CREATE TYPE "SubmissionStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "GatewayPref" AS ENUM ('PUBLIC', 'PINATA');

-- CreateEnum
CREATE TYPE "MultisigTxStatus" AS ENUM ('SUBMITTED', 'APPROVED', 'EXECUTED', 'FAILED', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "StolenStatus" AS ENUM ('FLAGGED', 'CLEARED');

-- CreateEnum
CREATE TYPE "StolenSource" AS ENUM ('USER', 'ADMIN', 'PARTNER', 'LAW_ENFORCEMENT', 'MARKETPLACE');

-- CreateEnum
CREATE TYPE "CurrencyKind" AS ENUM ('NATIVE', 'ERC20');

-- CreateEnum
CREATE TYPE "PendingChainActionType" AS ENUM ('NFT_AUCTION_CREATE', 'NFT_AUCTION_BID', 'NFT_AUCTION_CANCEL', 'NFT_AUCTION_FINALIZE', 'WARPOOL_RESERVATION_EXPIRE', 'WARPOOL_POOL_PROCESS_EXPIRED', 'WARPOOL_POOL_MARK_BATTLE_READY', 'WARPOOL_POOL_SETTLE', 'WARPOOL_CAPTURE_RELIST');

-- CreateEnum
CREATE TYPE "PendingStatus" AS ENUM ('PENDING', 'CONFIRMED', 'FAILED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "WarpoolContractKind" AS ENUM ('CONFIG', 'CORE', 'LENS');

-- CreateEnum
CREATE TYPE "WarpoolQueueSlug" AS ENUM ('FORGE_SAFEGUARD', 'LEGION_SAFEGUARD', 'LEGION_VAULTBOUND', 'CROWN_VAULTBOUND');

-- CreateEnum
CREATE TYPE "WarpoolPoolStatus" AS ENUM ('OPEN', 'LOCKED', 'BATTLE_READY', 'SETTLING', 'SETTLED', 'CLOSED', 'EXPIRED_REFUNDED');

-- CreateEnum
CREATE TYPE "WarpoolEntryStatus" AS ENUM ('JOINED', 'REFUNDED', 'SELECTED', 'SETTLED', 'CAPTURED', 'RETURNED');

-- CreateEnum
CREATE TYPE "WarpoolReservationStatus" AS ENUM ('ACTIVE', 'CONSUMED', 'EXPIRED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "WarpoolRelicType" AS ENUM ('NONE', 'DISCOUNT', 'GOD');

-- CreateEnum
CREATE TYPE "WarpoolActivityType" AS ENUM ('POOL_OPENED', 'POOL_LOCKED', 'POOL_BATTLE_READY', 'POOL_SETTLED', 'POOL_REOPENED', 'POOL_EXPIRED_REFUNDED', 'RESERVATION_CREATED', 'RESERVATION_CONSUMED', 'RESERVATION_EXPIRED', 'ENTRY_JOINED', 'ENTRY_SELECTED', 'ENTRY_REFUNDED', 'ENTRY_CAPTURED', 'ENTRY_RETURNED', 'PRIZE_PAID', 'RELIC_RETURNED');

-- CreateEnum
CREATE TYPE "WarpoolCaptureStatus" AS ENUM ('HELD', 'QUEUED_FOR_RELIST', 'RELISTED', 'RELEASED');

-- CreateEnum
CREATE TYPE "WarpoolRelistStatus" AS ENUM ('NONE', 'QUEUED', 'LISTED', 'SOLD', 'CANCELLED', 'FAILED');

-- CreateEnum
CREATE TYPE "WarpoolBattleStatus" AS ENUM ('PENDING', 'COMPUTED', 'SUBMITTED', 'SETTLED', 'FAILED');

-- CreateTable
CREATE TABLE "ChainState" (
    "id" TEXT NOT NULL,
    "userAddress" CITEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "lastBlockNumber" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "ChainState_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "walletAddress" CITEXT NOT NULL,
    "username" TEXT NOT NULL,
    "bio" TEXT,
    "profileBanner" TEXT,
    "profileAvatar" TEXT NOT NULL,
    "x" TEXT,
    "instagram" TEXT,
    "website" TEXT,
    "telegram" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Collection" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "description" TEXT,
    "logoUrl" TEXT,
    "coverUrl" TEXT,
    "standard" TEXT NOT NULL DEFAULT 'ERC721',
    "supply" INTEGER,
    "baseUri" TEXT,
    "gatewayPref" "GatewayPref" NOT NULL DEFAULT 'PUBLIC',
    "indexStatus" "IndexStatus" NOT NULL DEFAULT 'PENDING',
    "x" TEXT,
    "instagram" TEXT,
    "website" TEXT,
    "discord" TEXT,
    "telegram" TEXT,
    "floorPrice" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "volume" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "itemsCount" INTEGER NOT NULL DEFAULT 0,
    "ownersCount" INTEGER NOT NULL DEFAULT 0,
    "change24h" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "creatorId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "isOrphan" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Collection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NFT" (
    "id" TEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "name" TEXT,
    "imageUrl" TEXT,
    "description" TEXT,
    "traits" JSONB,
    "attributes" JSONB,
    "tokenUri" TEXT,
    "contract" CITEXT NOT NULL,
    "standard" TEXT,
    "rawMetadata" JSONB,
    "royaltyBps" INTEGER,
    "royaltyRecipient" CITEXT,
    "ownerId" TEXT,
    "collectionId" TEXT,
    "single721Id" TEXT,
    "single1155Id" TEXT,
    "status" "NftStatus" NOT NULL DEFAULT 'PENDING',
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "rarityScore" DECIMAL(38,18),

    CONSTRAINT "NFT_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TraitStat" (
    "id" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "trait_type" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "count" INTEGER NOT NULL,
    "frequency" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TraitStat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NFTActivity" (
    "id" TEXT NOT NULL,
    "nftId" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "fromAddress" CITEXT NOT NULL,
    "toAddress" CITEXT NOT NULL,
    "priceEtnWei" DECIMAL(65,0),
    "txHash" TEXT NOT NULL,
    "logIndex" INTEGER NOT NULL DEFAULT 0,
    "blockNumber" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "marketplace" TEXT,
    "rawData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NFTActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Single721" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "tokenUri" TEXT NOT NULL,
    "royaltyRecipient" CITEXT NOT NULL,
    "royaltyBps" INTEGER NOT NULL,
    "creatorId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "indexStatus" "IndexStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Single721_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Single1155" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "baseUri" TEXT NOT NULL,
    "maxSupply" INTEGER NOT NULL,
    "mintPriceEtnWei" DECIMAL(65,0) NOT NULL,
    "maxPerWallet" INTEGER NOT NULL,
    "royaltyRecipient" CITEXT NOT NULL,
    "royaltyBps" INTEGER NOT NULL,
    "creatorId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "indexStatus" "IndexStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Single1155_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Erc1155Balance" (
    "id" TEXT NOT NULL,
    "single1155Id" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "balance" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Erc1155Balance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Erc1155Holding" (
    "id" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "balance" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Erc1155Holding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MarketplaceListing" (
    "id" TEXT NOT NULL,
    "nftId" TEXT NOT NULL,
    "sellerAddress" CITEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "priceEtnWei" DECIMAL(65,0) NOT NULL,
    "currencyId" TEXT,
    "priceTokenAmount" DECIMAL(65,0),
    "status" "ListingStatus" NOT NULL DEFAULT 'ACTIVE',
    "startTime" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endTime" TIMESTAMP(3),
    "txHashCreated" TEXT,
    "txHashFilled" TEXT,
    "txHashCancelled" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MarketplaceListing_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Auction" (
    "id" TEXT NOT NULL,
    "nftId" TEXT NOT NULL,
    "sellerAddress" CITEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "startPriceEtnWei" DECIMAL(65,0) NOT NULL,
    "highestBidEtnWei" DECIMAL(65,0),
    "minIncrementEtnWei" DECIMAL(65,0),
    "currencyId" TEXT,
    "startPriceTokenAmount" DECIMAL(65,0),
    "highestBidTokenAmount" DECIMAL(65,0),
    "minIncrementTokenAmount" DECIMAL(65,0),
    "startTime" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endTime" TIMESTAMP(3) NOT NULL,
    "status" "AuctionStatus" NOT NULL DEFAULT 'ACTIVE',
    "txHashCreated" TEXT,
    "txHashFinalized" TEXT,
    "txHashCancelled" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "highestBidder" CITEXT,

    CONSTRAINT "Auction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuctionBid" (
    "id" TEXT NOT NULL,
    "auctionId" TEXT NOT NULL,
    "bidderAddress" CITEXT NOT NULL,
    "amountWei" DECIMAL(65,0) NOT NULL,
    "currencyId" TEXT,
    "txHash" TEXT NOT NULL,
    "logIndex" INTEGER NOT NULL DEFAULT 0,
    "blockNumber" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuctionBid_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeployedContract" (
    "id" TEXT NOT NULL,
    "contractType" "ContractType" NOT NULL,
    "cloneAddress" CITEXT NOT NULL,
    "implementationAddr" CITEXT NOT NULL,
    "factoryAddress" CITEXT NOT NULL,
    "deployerAddress" CITEXT NOT NULL,
    "txHash" TEXT NOT NULL,
    "blockNumber" INTEGER NOT NULL,
    "metadataOption" "MetadataOption" NOT NULL,
    "feeRecipient" CITEXT NOT NULL,
    "feeAmountEtnWei" DECIMAL(65,0) NOT NULL,
    "royaltyRecipient" TEXT NOT NULL,
    "royaltyBps" INTEGER NOT NULL,
    "baseURI" TEXT,
    "maxSupply" INTEGER,
    "rawInit" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "collectionId" TEXT,
    "single721Id" TEXT,
    "single1155Id" TEXT,

    CONSTRAINT "DeployedContract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeeConfig" (
    "id" TEXT NOT NULL,
    "contractType" "ContractType" NOT NULL,
    "metadataOption" "MetadataOption" NOT NULL,
    "feeRecipient" CITEXT NOT NULL,
    "feeAmountEtnWei" DECIMAL(65,0) NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedByUserId" TEXT,
    "targetUsdCents" INTEGER,
    "pricingSource" TEXT NOT NULL DEFAULT 'CRYPTOCOMPARE',
    "pricingPair" TEXT NOT NULL DEFAULT 'ETNUSD',
    "lastPriceUsd" DECIMAL(20,10),
    "lastPriceAt" TIMESTAMP(3),

    CONSTRAINT "FeeConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeeConfigLog" (
    "id" TEXT NOT NULL,
    "feeConfigId" TEXT NOT NULL,
    "previousRecipient" CITEXT,
    "newRecipient" CITEXT,
    "previousAmountEtnWei" DECIMAL(65,0),
    "newAmountEtnWei" DECIMAL(65,0),
    "changedByUserId" TEXT,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FeeConfigLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PublicSale" (
    "id" TEXT NOT NULL,
    "collectionId" TEXT NOT NULL,
    "startTime" TIMESTAMP(3) NOT NULL,
    "priceEtnWei" DECIMAL(65,0) NOT NULL,
    "maxPerWallet" INTEGER NOT NULL,
    "maxPerTx" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PublicSale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Presale" (
    "id" TEXT NOT NULL,
    "collectionId" TEXT NOT NULL,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3) NOT NULL,
    "priceEtnWei" DECIMAL(65,0) NOT NULL,
    "maxSupply" INTEGER NOT NULL,
    "merkleRoot" TEXT NOT NULL,
    "whitelistCount" INTEGER,
    "allowlistCommit" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Presale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PresaleWhitelistAddress" (
    "id" TEXT NOT NULL,
    "presaleId" TEXT NOT NULL,
    "address" CITEXT NOT NULL,
    "maxAllocation" INTEGER,

    CONSTRAINT "PresaleWhitelistAddress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PresaleDraft" (
    "id" TEXT NOT NULL,
    "creatorUserId" TEXT NOT NULL,
    "addresses" JSONB NOT NULL,
    "count" INTEGER NOT NULL,
    "merkleRoot" TEXT NOT NULL,
    "sha256Commit" TEXT NOT NULL,
    "status" "DraftStatus" NOT NULL DEFAULT 'DRAFT',
    "consumedAt" TIMESTAMP(3),
    "consumedByPresaleId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "PresaleDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssetUpload" (
    "id" TEXT NOT NULL,
    "uploaderUserId" TEXT,
    "collectionId" TEXT,
    "single721Id" TEXT,
    "single1155Id" TEXT,
    "provider" TEXT NOT NULL DEFAULT 'PINATA',
    "cid" TEXT NOT NULL,
    "url" TEXT,
    "bytes" INTEGER,
    "sha256" TEXT,
    "contentType" TEXT,
    "originalName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AssetUpload_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CollectionSubmission" (
    "id" TEXT NOT NULL,
    "submittedByUserId" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "ownerAddress" CITEXT,
    "name" TEXT,
    "symbol" TEXT,
    "logoUrl" TEXT,
    "coverUrl" TEXT,
    "baseUri" TEXT,
    "supply" INTEGER,
    "description" TEXT,
    "website" TEXT,
    "x" TEXT,
    "instagram" TEXT,
    "telegram" TEXT,
    "feeTxHash" TEXT,
    "feePaidWei" DECIMAL(65,0),
    "feeVerifiedAt" TIMESTAMP(3),
    "ownershipVerified" BOOLEAN NOT NULL DEFAULT false,
    "status" "SubmissionStatus" NOT NULL DEFAULT 'PENDING',
    "statusReason" TEXT,
    "reviewedByUserId" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CollectionSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NFTRarity" (
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "score" DECIMAL(38,18) NOT NULL,
    "rank" INTEGER NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NFTRarity_pkey" PRIMARY KEY ("contract","tokenId")
);

-- CreateTable
CREATE TABLE "HolderReward" (
    "user_id" TEXT NOT NULL,
    "wallet_address" CITEXT,
    "last_acc_per_token" DECIMAL(78,27) NOT NULL DEFAULT 0,
    "claimed_etn" DECIMAL(78,18) NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HolderReward_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "RewardAccumulator" (
    "id" TEXT NOT NULL,
    "acc_per_token" DECIMAL(78,27) NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RewardAccumulator_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Currency" (
    "id" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "decimals" INTEGER NOT NULL DEFAULT 18,
    "kind" "CurrencyKind" NOT NULL DEFAULT 'NATIVE',
    "tokenAddress" CITEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Currency_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MarketplaceSale" (
    "id" TEXT NOT NULL,
    "nftId" TEXT NOT NULL,
    "buyerAddress" CITEXT NOT NULL,
    "sellerAddress" CITEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "priceEtnWei" DECIMAL(65,0) NOT NULL,
    "royaltyPaidWei" DECIMAL(65,0),
    "marketplaceFeePaidWei" DECIMAL(65,0),
    "currencyId" TEXT,
    "priceTokenAmount" DECIMAL(65,0),
    "royaltyPaidTokenAmount" DECIMAL(65,0),
    "feePaidTokenAmount" DECIMAL(65,0),
    "royaltyRecipient" CITEXT,
    "marketplaceFeeRecipient" CITEXT,
    "txHash" TEXT NOT NULL,
    "logIndex" INTEGER NOT NULL DEFAULT 0,
    "blockNumber" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MarketplaceSale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RewardAccumulatorMulti" (
    "id" TEXT NOT NULL,
    "currencyId" TEXT NOT NULL,
    "accPerToken" DECIMAL(78,27) NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RewardAccumulatorMulti_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HolderRewardMulti" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "walletAddress" CITEXT NOT NULL,
    "currencyId" TEXT NOT NULL,
    "lastAccPerToken" DECIMAL(78,27) NOT NULL DEFAULT 0,
    "claimedAmount" DECIMAL(78,18) NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HolderRewardMulti_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RewardDistributionLog" (
    "id" TEXT NOT NULL,
    "currencyId" TEXT NOT NULL,
    "amount" DECIMAL(78,18) NOT NULL,
    "txHash" TEXT,
    "blockNumber" INTEGER,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,

    CONSTRAINT "RewardDistributionLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RewardClaimLog" (
    "id" TEXT NOT NULL,
    "walletAddress" CITEXT NOT NULL,
    "userId" TEXT,
    "currencyId" TEXT NOT NULL,
    "amount" DECIMAL(78,18) NOT NULL,
    "txHash" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RewardClaimLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StolenItem" (
    "id" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "status" "StolenStatus" NOT NULL DEFAULT 'FLAGGED',
    "source" "StolenSource" NOT NULL DEFAULT 'USER',
    "reporterAddress" CITEXT,
    "reporterUserId" TEXT,
    "evidenceUrl" TEXT,
    "notes" TEXT,
    "disputed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StolenItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StolenEvent" (
    "id" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "actorAddress" CITEXT,
    "txHash" TEXT,
    "logIndex" INTEGER DEFAULT 0,
    "blockNumber" INTEGER,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StolenEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MultisigSafe" (
    "id" TEXT NOT NULL,
    "contract" CITEXT NOT NULL,
    "name" TEXT,
    "threshold" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MultisigSafe_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MultisigOwner" (
    "id" TEXT NOT NULL,
    "safeId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "addedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "removedAt" TIMESTAMP(3),

    CONSTRAINT "MultisigOwner_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MultisigTx" (
    "id" TEXT NOT NULL,
    "safeId" TEXT NOT NULL,
    "nonce" INTEGER NOT NULL,
    "to" CITEXT NOT NULL,
    "valueWei" DECIMAL(65,0) NOT NULL DEFAULT 0,
    "dataHex" TEXT,
    "operation" INTEGER,
    "submittedBy" CITEXT,
    "status" "MultisigTxStatus" NOT NULL DEFAULT 'SUBMITTED',
    "executedTxHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "executedAt" TIMESTAMP(3),

    CONSTRAINT "MultisigTx_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MultisigApproval" (
    "id" TEXT NOT NULL,
    "txId" TEXT NOT NULL,
    "ownerAddress" CITEXT NOT NULL,
    "signature" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MultisigApproval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PendingChainAction" (
    "id" TEXT NOT NULL,
    "type" "PendingChainActionType" NOT NULL,
    "txHash" TEXT NOT NULL,
    "from" CITEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "payload" JSONB NOT NULL,
    "relatedId" TEXT,
    "status" "PendingStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PendingChainAction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolContract" (
    "id" TEXT NOT NULL,
    "kind" "WarpoolContractKind" NOT NULL,
    "address" CITEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "label" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolContract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolQueueConfig" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "queueKey" CITEXT NOT NULL,
    "slug" "WarpoolQueueSlug" NOT NULL,
    "tier" INTEGER NOT NULL,
    "mode" INTEGER NOT NULL,
    "enabled" BOOLEAN NOT NULL,
    "singleEntryPerWallet" BOOLEAN NOT NULL DEFAULT true,
    "targetSize" INTEGER NOT NULL,
    "minStartSize" INTEGER NOT NULL,
    "openDurationSeconds" INTEGER NOT NULL,
    "stakeAmountRaw" DECIMAL(78,0) NOT NULL,
    "platformFeeBps" INTEGER NOT NULL,
    "firstPlaceBps" INTEGER NOT NULL,
    "secondPlaceBps" INTEGER NOT NULL,
    "thirdPlaceBps" INTEGER NOT NULL,
    "configVersion" BIGINT NOT NULL,
    "sourceContract" CITEXT NOT NULL,
    "syncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolQueueConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolGlobalConfigSnapshot" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "configContract" CITEXT NOT NULL,
    "configVersion" BIGINT NOT NULL,
    "comradesCollection" CITEXT,
    "relicsCollection" CITEXT,
    "dcntToken" CITEXT,
    "treasury" CITEXT,
    "workerOperator" CITEXT,
    "entriesPaused" BOOLEAN NOT NULL DEFAULT false,
    "reservationsPaused" BOOLEAN NOT NULL DEFAULT false,
    "settlementsPaused" BOOLEAN NOT NULL DEFAULT false,
    "relicsEnabled" BOOLEAN NOT NULL DEFAULT true,
    "fatigueEnabled" BOOLEAN NOT NULL DEFAULT true,
    "token11FeeShareEnabled" BOOLEAN NOT NULL DEFAULT true,
    "token11FeeShareBps" INTEGER NOT NULL DEFAULT 0,
    "relicMinDiscountBps" INTEGER,
    "relicMaxDiscountBps" INTEGER,
    "discountSeatCap" INTEGER,
    "token11SeatCap" INTEGER,
    "reservationTtlSeconds" INTEGER,
    "fatigueMaxConsecutive" INTEGER,
    "fatigueCooldownSeconds" INTEGER,
    "roundsPerMatch" INTEGER,
    "traitPowerMin" INTEGER,
    "traitPowerMax" INTEGER,
    "roundVarianceMax" INTEGER,
    "microMomentumMax" INTEGER,
    "syncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WarpoolGlobalConfigSnapshot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolPool" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "coreContract" CITEXT NOT NULL,
    "poolIdOnChain" BIGINT NOT NULL,
    "queueKey" CITEXT NOT NULL,
    "queueSlug" "WarpoolQueueSlug",
    "configVersion" BIGINT NOT NULL,
    "state" "WarpoolPoolStatus" NOT NULL,
    "tier" INTEGER NOT NULL,
    "mode" INTEGER NOT NULL,
    "singleEntryPerWallet" BOOLEAN NOT NULL,
    "targetSize" INTEGER NOT NULL,
    "minStartSize" INTEGER NOT NULL,
    "entrantCount" INTEGER NOT NULL DEFAULT 0,
    "runnableSize" INTEGER NOT NULL DEFAULT 0,
    "stakeAmountRaw" DECIMAL(78,0) NOT NULL,
    "platformFeeBps" INTEGER NOT NULL,
    "firstPlaceBps" INTEGER NOT NULL,
    "secondPlaceBps" INTEGER NOT NULL,
    "thirdPlaceBps" INTEGER NOT NULL,
    "relicMinDiscountBps" INTEGER,
    "relicMaxDiscountBps" INTEGER,
    "discountSeatCap" INTEGER NOT NULL DEFAULT 0,
    "token11SeatCap" INTEGER NOT NULL DEFAULT 0,
    "token11FeeShareBps" INTEGER NOT NULL DEFAULT 0,
    "discountSeatsUsed" INTEGER NOT NULL DEFAULT 0,
    "discountSeatsReserved" INTEGER NOT NULL DEFAULT 0,
    "token11SeatsUsed" INTEGER NOT NULL DEFAULT 0,
    "comradesCollection" CITEXT NOT NULL,
    "relicsCollection" CITEXT,
    "dcntToken" CITEXT NOT NULL,
    "treasury" CITEXT NOT NULL,
    "openedAt" TIMESTAMP(3) NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "lockedAt" TIMESTAMP(3),
    "battleReadyAt" TIMESTAMP(3),
    "settledAt" TIMESTAMP(3),
    "closedAt" TIMESTAMP(3),
    "expiredRefundedAt" TIMESTAMP(3),
    "seedBlockNumber" INTEGER,
    "openTxHash" TEXT,
    "lockTxHash" TEXT,
    "settleTxHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolPool_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolEntry" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "coreContract" CITEXT NOT NULL,
    "entryIdOnChain" BIGINT NOT NULL,
    "poolId" TEXT NOT NULL,
    "userId" TEXT,
    "userAddress" CITEXT NOT NULL,
    "nftId" TEXT,
    "comradeContract" CITEXT NOT NULL,
    "comradeTokenId" TEXT NOT NULL,
    "relicContract" CITEXT,
    "relicTokenId" TEXT,
    "relicType" "WarpoolRelicType" NOT NULL DEFAULT 'NONE',
    "status" "WarpoolEntryStatus" NOT NULL,
    "placement" INTEGER,
    "selectedForBattle" BOOLEAN NOT NULL DEFAULT false,
    "relicDiscountBps" INTEGER,
    "baseStakeAmountRaw" DECIMAL(78,0) NOT NULL,
    "paidStakeAmountRaw" DECIMAL(78,0) NOT NULL,
    "refundedStakeAmountRaw" DECIMAL(78,0),
    "prizeAmountRaw" DECIMAL(78,0),
    "joinedAt" TIMESTAMP(3) NOT NULL,
    "joinedTxHash" TEXT,
    "reservationId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolReservation" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "coreContract" CITEXT NOT NULL,
    "reservationIdOnChain" BIGINT NOT NULL,
    "poolId" TEXT NOT NULL,
    "userId" TEXT,
    "userAddress" CITEXT NOT NULL,
    "nftId" TEXT,
    "comradeContract" CITEXT NOT NULL,
    "comradeTokenId" TEXT NOT NULL,
    "relicContract" CITEXT NOT NULL,
    "relicTokenId" TEXT NOT NULL,
    "status" "WarpoolReservationStatus" NOT NULL,
    "discountBps" INTEGER,
    "createdAtOnChain" TIMESTAMP(3) NOT NULL,
    "expiresAtOnChain" TIMESTAMP(3) NOT NULL,
    "consumedAt" TIMESTAMP(3),
    "expiredAt" TIMESTAMP(3),
    "createdTxHash" TEXT,
    "resolvedTxHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolReservation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolBattle" (
    "id" TEXT NOT NULL,
    "poolId" TEXT NOT NULL,
    "status" "WarpoolBattleStatus" NOT NULL DEFAULT 'PENDING',
    "bracketSeed" CITEXT,
    "firstEntryId" TEXT,
    "secondEntryId" TEXT,
    "thirdEntryId" TEXT,
    "totalStakeRaw" DECIMAL(78,0),
    "prizePoolRaw" DECIMAL(78,0),
    "platformFeeRaw" DECIMAL(78,0),
    "computedAt" TIMESTAMP(3),
    "submittedAt" TIMESTAMP(3),
    "settledAt" TIMESTAMP(3),
    "settlementTxHash" TEXT,
    "rawOutcome" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolBattle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolBattleMatch" (
    "id" TEXT NOT NULL,
    "battleId" TEXT NOT NULL,
    "roundNumber" INTEGER NOT NULL,
    "matchNumber" INTEGER NOT NULL,
    "slotAEntryId" TEXT,
    "slotBEntryId" TEXT,
    "winnerEntryId" TEXT,
    "loserEntryId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "rawResult" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolBattleMatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolCapture" (
    "id" TEXT NOT NULL,
    "entryId" TEXT NOT NULL,
    "nftId" TEXT,
    "contract" CITEXT NOT NULL,
    "tokenId" TEXT NOT NULL,
    "originalOwnerId" TEXT,
    "originalOwnerAddress" CITEXT NOT NULL,
    "capturedAt" TIMESTAMP(3) NOT NULL,
    "status" "WarpoolCaptureStatus" NOT NULL DEFAULT 'HELD',
    "relistStatus" "WarpoolRelistStatus" NOT NULL DEFAULT 'NONE',
    "relistListingId" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WarpoolCapture_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarpoolActivity" (
    "id" TEXT NOT NULL,
    "chainId" INTEGER NOT NULL,
    "coreContract" CITEXT NOT NULL,
    "poolId" TEXT,
    "entryId" TEXT,
    "reservationId" TEXT,
    "userId" TEXT,
    "userAddress" CITEXT,
    "nftId" TEXT,
    "type" "WarpoolActivityType" NOT NULL,
    "txHash" CITEXT,
    "logIndex" INTEGER,
    "blockNumber" INTEGER,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WarpoolActivity_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "ChainState_userAddress_contract_key" ON "ChainState"("userAddress", "contract");

-- CreateIndex
CREATE UNIQUE INDEX "User_walletAddress_key" ON "User"("walletAddress");

-- CreateIndex
CREATE UNIQUE INDEX "Collection_contract_key" ON "Collection"("contract");

-- CreateIndex
CREATE INDEX "Collection_creatorId_idx" ON "Collection"("creatorId");

-- CreateIndex
CREATE INDEX "Collection_ownerAddress_idx" ON "Collection"("ownerAddress");

-- CreateIndex
CREATE INDEX "Collection_indexStatus_idx" ON "Collection"("indexStatus");

-- CreateIndex
CREATE INDEX "NFT_contract_idx" ON "NFT"("contract");

-- CreateIndex
CREATE INDEX "NFT_ownerId_idx" ON "NFT"("ownerId");

-- CreateIndex
CREATE UNIQUE INDEX "NFT_contract_tokenId_key" ON "NFT"("contract", "tokenId");

-- CreateIndex
CREATE UNIQUE INDEX "NFT_tokenId_contract_collectionId_key" ON "NFT"("tokenId", "contract", "collectionId");

-- CreateIndex
CREATE INDEX "TraitStat_contract_idx" ON "TraitStat"("contract");

-- CreateIndex
CREATE UNIQUE INDEX "TraitStat_contract_trait_type_value_key" ON "TraitStat"("contract", "trait_type", "value");

-- CreateIndex
CREATE INDEX "NFTActivity_contract_idx" ON "NFTActivity"("contract");

-- CreateIndex
CREATE INDEX "NFTActivity_tokenId_idx" ON "NFTActivity"("tokenId");

-- CreateIndex
CREATE INDEX "NFTActivity_timestamp_idx" ON "NFTActivity"("timestamp");

-- CreateIndex
CREATE INDEX "NFTActivity_contract_tokenId_blockNumber_idx" ON "NFTActivity"("contract", "tokenId", "blockNumber");

-- CreateIndex
CREATE UNIQUE INDEX "NFTActivity_txHash_logIndex_key" ON "NFTActivity"("txHash", "logIndex");

-- CreateIndex
CREATE UNIQUE INDEX "Single721_contract_key" ON "Single721"("contract");

-- CreateIndex
CREATE INDEX "Single721_indexStatus_idx" ON "Single721"("indexStatus");

-- CreateIndex
CREATE UNIQUE INDEX "Single1155_contract_key" ON "Single1155"("contract");

-- CreateIndex
CREATE INDEX "Single1155_indexStatus_idx" ON "Single1155"("indexStatus");

-- CreateIndex
CREATE INDEX "Erc1155Balance_ownerAddress_idx" ON "Erc1155Balance"("ownerAddress");

-- CreateIndex
CREATE INDEX "Erc1155Balance_single1155Id_idx" ON "Erc1155Balance"("single1155Id");

-- CreateIndex
CREATE UNIQUE INDEX "Erc1155Balance_single1155Id_ownerAddress_key" ON "Erc1155Balance"("single1155Id", "ownerAddress");

-- CreateIndex
CREATE INDEX "Erc1155Holding_ownerAddress_idx" ON "Erc1155Holding"("ownerAddress");

-- CreateIndex
CREATE INDEX "Erc1155Holding_contract_tokenId_idx" ON "Erc1155Holding"("contract", "tokenId");

-- CreateIndex
CREATE INDEX "Erc1155Holding_contract_ownerAddress_idx" ON "Erc1155Holding"("contract", "ownerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "Erc1155Holding_contract_tokenId_ownerAddress_key" ON "Erc1155Holding"("contract", "tokenId", "ownerAddress");

-- CreateIndex
CREATE INDEX "MarketplaceListing_sellerAddress_idx" ON "MarketplaceListing"("sellerAddress");

-- CreateIndex
CREATE INDEX "MarketplaceListing_status_idx" ON "MarketplaceListing"("status");

-- CreateIndex
CREATE INDEX "MarketplaceListing_startTime_idx" ON "MarketplaceListing"("startTime");

-- CreateIndex
CREATE INDEX "MarketplaceListing_nftId_idx" ON "MarketplaceListing"("nftId");

-- CreateIndex
CREATE INDEX "MarketplaceListing_currencyId_idx" ON "MarketplaceListing"("currencyId");

-- CreateIndex
CREATE INDEX "idx_listing_nft_status" ON "MarketplaceListing"("nftId", "status");

-- CreateIndex
CREATE INDEX "idx_listing_seller_status" ON "MarketplaceListing"("sellerAddress", "status");

-- CreateIndex
CREATE INDEX "Auction_sellerAddress_idx" ON "Auction"("sellerAddress");

-- CreateIndex
CREATE INDEX "Auction_status_idx" ON "Auction"("status");

-- CreateIndex
CREATE INDEX "Auction_endTime_idx" ON "Auction"("endTime");

-- CreateIndex
CREATE INDEX "Auction_nftId_idx" ON "Auction"("nftId");

-- CreateIndex
CREATE INDEX "Auction_currencyId_idx" ON "Auction"("currencyId");

-- CreateIndex
CREATE INDEX "idx_auction_nft_status" ON "Auction"("nftId", "status");

-- CreateIndex
CREATE INDEX "idx_auction_seller_status" ON "Auction"("sellerAddress", "status");

-- CreateIndex
CREATE INDEX "AuctionBid_auctionId_timestamp_idx" ON "AuctionBid"("auctionId", "timestamp");

-- CreateIndex
CREATE INDEX "AuctionBid_bidderAddress_idx" ON "AuctionBid"("bidderAddress");

-- CreateIndex
CREATE INDEX "AuctionBid_blockNumber_idx" ON "AuctionBid"("blockNumber");

-- CreateIndex
CREATE UNIQUE INDEX "AuctionBid_txHash_logIndex_key" ON "AuctionBid"("txHash", "logIndex");

-- CreateIndex
CREATE UNIQUE INDEX "DeployedContract_cloneAddress_key" ON "DeployedContract"("cloneAddress");

-- CreateIndex
CREATE UNIQUE INDEX "DeployedContract_txHash_key" ON "DeployedContract"("txHash");

-- CreateIndex
CREATE UNIQUE INDEX "DeployedContract_collectionId_key" ON "DeployedContract"("collectionId");

-- CreateIndex
CREATE UNIQUE INDEX "DeployedContract_single721Id_key" ON "DeployedContract"("single721Id");

-- CreateIndex
CREATE UNIQUE INDEX "DeployedContract_single1155Id_key" ON "DeployedContract"("single1155Id");

-- CreateIndex
CREATE INDEX "DeployedContract_factoryAddress_idx" ON "DeployedContract"("factoryAddress");

-- CreateIndex
CREATE INDEX "DeployedContract_deployerAddress_idx" ON "DeployedContract"("deployerAddress");

-- CreateIndex
CREATE INDEX "FeeConfig_active_idx" ON "FeeConfig"("active");

-- CreateIndex
CREATE UNIQUE INDEX "FeeConfig_contractType_metadataOption_key" ON "FeeConfig"("contractType", "metadataOption");

-- CreateIndex
CREATE INDEX "FeeConfigLog_feeConfigId_idx" ON "FeeConfigLog"("feeConfigId");

-- CreateIndex
CREATE INDEX "FeeConfigLog_createdAt_idx" ON "FeeConfigLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "PublicSale_collectionId_key" ON "PublicSale"("collectionId");

-- CreateIndex
CREATE UNIQUE INDEX "Presale_collectionId_key" ON "Presale"("collectionId");

-- CreateIndex
CREATE INDEX "PresaleWhitelistAddress_address_idx" ON "PresaleWhitelistAddress"("address");

-- CreateIndex
CREATE INDEX "PresaleWhitelistAddress_presaleId_idx" ON "PresaleWhitelistAddress"("presaleId");

-- CreateIndex
CREATE UNIQUE INDEX "PresaleWhitelistAddress_presaleId_address_key" ON "PresaleWhitelistAddress"("presaleId", "address");

-- CreateIndex
CREATE UNIQUE INDEX "PresaleDraft_sha256Commit_key" ON "PresaleDraft"("sha256Commit");

-- CreateIndex
CREATE INDEX "PresaleDraft_creatorUserId_idx" ON "PresaleDraft"("creatorUserId");

-- CreateIndex
CREATE INDEX "PresaleDraft_status_createdAt_idx" ON "PresaleDraft"("status", "createdAt");

-- CreateIndex
CREATE INDEX "AssetUpload_cid_idx" ON "AssetUpload"("cid");

-- CreateIndex
CREATE INDEX "AssetUpload_collectionId_idx" ON "AssetUpload"("collectionId");

-- CreateIndex
CREATE INDEX "AssetUpload_single721Id_idx" ON "AssetUpload"("single721Id");

-- CreateIndex
CREATE INDEX "AssetUpload_single1155Id_idx" ON "AssetUpload"("single1155Id");

-- CreateIndex
CREATE UNIQUE INDEX "CollectionSubmission_contract_key" ON "CollectionSubmission"("contract");

-- CreateIndex
CREATE UNIQUE INDEX "CollectionSubmission_feeTxHash_key" ON "CollectionSubmission"("feeTxHash");

-- CreateIndex
CREATE INDEX "CollectionSubmission_status_createdAt_idx" ON "CollectionSubmission"("status", "createdAt");

-- CreateIndex
CREATE INDEX "NFTRarity_contract_rank_idx" ON "NFTRarity"("contract", "rank");

-- CreateIndex
CREATE UNIQUE INDEX "HolderReward_wallet_address_key" ON "HolderReward"("wallet_address");

-- CreateIndex
CREATE UNIQUE INDEX "Currency_tokenAddress_key" ON "Currency"("tokenAddress");

-- CreateIndex
CREATE UNIQUE INDEX "Currency_symbol_tokenAddress_key" ON "Currency"("symbol", "tokenAddress");

-- CreateIndex
CREATE INDEX "MarketplaceSale_buyerAddress_idx" ON "MarketplaceSale"("buyerAddress");

-- CreateIndex
CREATE INDEX "MarketplaceSale_sellerAddress_idx" ON "MarketplaceSale"("sellerAddress");

-- CreateIndex
CREATE INDEX "MarketplaceSale_nftId_idx" ON "MarketplaceSale"("nftId");

-- CreateIndex
CREATE INDEX "MarketplaceSale_timestamp_idx" ON "MarketplaceSale"("timestamp");

-- CreateIndex
CREATE INDEX "MarketplaceSale_currencyId_timestamp_idx" ON "MarketplaceSale"("currencyId", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "MarketplaceSale_txHash_logIndex_key" ON "MarketplaceSale"("txHash", "logIndex");

-- CreateIndex
CREATE UNIQUE INDEX "RewardAccumulatorMulti_currencyId_key" ON "RewardAccumulatorMulti"("currencyId");

-- CreateIndex
CREATE INDEX "HolderRewardMulti_userId_idx" ON "HolderRewardMulti"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "HolderRewardMulti_walletAddress_currencyId_key" ON "HolderRewardMulti"("walletAddress", "currencyId");

-- CreateIndex
CREATE INDEX "RewardDistributionLog_currencyId_timestamp_idx" ON "RewardDistributionLog"("currencyId", "timestamp");

-- CreateIndex
CREATE INDEX "RewardClaimLog_walletAddress_currencyId_timestamp_idx" ON "RewardClaimLog"("walletAddress", "currencyId", "timestamp");

-- CreateIndex
CREATE INDEX "StolenItem_status_idx" ON "StolenItem"("status");

-- CreateIndex
CREATE INDEX "StolenItem_contract_tokenId_status_idx" ON "StolenItem"("contract", "tokenId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "StolenItem_contract_tokenId_key" ON "StolenItem"("contract", "tokenId");

-- CreateIndex
CREATE INDEX "StolenEvent_contract_tokenId_timestamp_idx" ON "StolenEvent"("contract", "tokenId", "timestamp");

-- CreateIndex
CREATE INDEX "StolenEvent_txHash_logIndex_idx" ON "StolenEvent"("txHash", "logIndex");

-- CreateIndex
CREATE UNIQUE INDEX "MultisigSafe_contract_key" ON "MultisigSafe"("contract");

-- CreateIndex
CREATE INDEX "MultisigSafe_threshold_idx" ON "MultisigSafe"("threshold");

-- CreateIndex
CREATE INDEX "MultisigOwner_ownerAddress_idx" ON "MultisigOwner"("ownerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "MultisigOwner_safeId_ownerAddress_key" ON "MultisigOwner"("safeId", "ownerAddress");

-- CreateIndex
CREATE INDEX "MultisigTx_status_idx" ON "MultisigTx"("status");

-- CreateIndex
CREATE INDEX "MultisigTx_to_idx" ON "MultisigTx"("to");

-- CreateIndex
CREATE UNIQUE INDEX "MultisigTx_safeId_nonce_key" ON "MultisigTx"("safeId", "nonce");

-- CreateIndex
CREATE INDEX "MultisigApproval_ownerAddress_idx" ON "MultisigApproval"("ownerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "MultisigApproval_txId_ownerAddress_key" ON "MultisigApproval"("txId", "ownerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "PendingChainAction_txHash_key" ON "PendingChainAction"("txHash");

-- CreateIndex
CREATE INDEX "PendingChainAction_status_createdAt_idx" ON "PendingChainAction"("status", "createdAt");

-- CreateIndex
CREATE INDEX "PendingChainAction_type_createdAt_idx" ON "PendingChainAction"("type", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "WarpoolContract_address_key" ON "WarpoolContract"("address");

-- CreateIndex
CREATE INDEX "WarpoolContract_active_kind_idx" ON "WarpoolContract"("active", "kind");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_contract_chain_kind" ON "WarpoolContract"("chainId", "kind");

-- CreateIndex
CREATE INDEX "WarpoolQueueConfig_chainId_slug_syncedAt_idx" ON "WarpoolQueueConfig"("chainId", "slug", "syncedAt");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_queue_version" ON "WarpoolQueueConfig"("chainId", "queueKey", "configVersion");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_slug_version" ON "WarpoolQueueConfig"("chainId", "slug", "configVersion");

-- CreateIndex
CREATE INDEX "WarpoolGlobalConfigSnapshot_chainId_syncedAt_idx" ON "WarpoolGlobalConfigSnapshot"("chainId", "syncedAt");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_global_config_version" ON "WarpoolGlobalConfigSnapshot"("chainId", "configContract", "configVersion");

-- CreateIndex
CREATE INDEX "WarpoolPool_queueKey_state_idx" ON "WarpoolPool"("queueKey", "state");

-- CreateIndex
CREATE INDEX "WarpoolPool_queueSlug_state_expiresAt_idx" ON "WarpoolPool"("queueSlug", "state", "expiresAt");

-- CreateIndex
CREATE INDEX "WarpoolPool_state_expiresAt_idx" ON "WarpoolPool"("state", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_pool_chain" ON "WarpoolPool"("chainId", "coreContract", "poolIdOnChain");

-- CreateIndex
CREATE UNIQUE INDEX "WarpoolEntry_reservationId_key" ON "WarpoolEntry"("reservationId");

-- CreateIndex
CREATE INDEX "WarpoolEntry_poolId_status_idx" ON "WarpoolEntry"("poolId", "status");

-- CreateIndex
CREATE INDEX "WarpoolEntry_userAddress_joinedAt_idx" ON "WarpoolEntry"("userAddress", "joinedAt");

-- CreateIndex
CREATE INDEX "WarpoolEntry_comradeContract_comradeTokenId_idx" ON "WarpoolEntry"("comradeContract", "comradeTokenId");

-- CreateIndex
CREATE INDEX "WarpoolEntry_nftId_idx" ON "WarpoolEntry"("nftId");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_entry_chain" ON "WarpoolEntry"("chainId", "coreContract", "entryIdOnChain");

-- CreateIndex
CREATE INDEX "WarpoolReservation_poolId_status_expiresAtOnChain_idx" ON "WarpoolReservation"("poolId", "status", "expiresAtOnChain");

-- CreateIndex
CREATE INDEX "WarpoolReservation_userAddress_status_idx" ON "WarpoolReservation"("userAddress", "status");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_reservation_chain" ON "WarpoolReservation"("chainId", "coreContract", "reservationIdOnChain");

-- CreateIndex
CREATE UNIQUE INDEX "WarpoolBattle_poolId_key" ON "WarpoolBattle"("poolId");

-- CreateIndex
CREATE INDEX "WarpoolBattle_status_updatedAt_idx" ON "WarpoolBattle"("status", "updatedAt");

-- CreateIndex
CREATE INDEX "WarpoolBattleMatch_battleId_roundNumber_idx" ON "WarpoolBattleMatch"("battleId", "roundNumber");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_match_round_number" ON "WarpoolBattleMatch"("battleId", "roundNumber", "matchNumber");

-- CreateIndex
CREATE UNIQUE INDEX "WarpoolCapture_entryId_key" ON "WarpoolCapture"("entryId");

-- CreateIndex
CREATE INDEX "WarpoolCapture_status_relistStatus_idx" ON "WarpoolCapture"("status", "relistStatus");

-- CreateIndex
CREATE INDEX "WarpoolCapture_contract_tokenId_idx" ON "WarpoolCapture"("contract", "tokenId");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_capture_asset_time" ON "WarpoolCapture"("contract", "tokenId", "capturedAt");

-- CreateIndex
CREATE INDEX "WarpoolActivity_poolId_timestamp_idx" ON "WarpoolActivity"("poolId", "timestamp");

-- CreateIndex
CREATE INDEX "WarpoolActivity_userAddress_timestamp_idx" ON "WarpoolActivity"("userAddress", "timestamp");

-- CreateIndex
CREATE INDEX "WarpoolActivity_type_timestamp_idx" ON "WarpoolActivity"("type", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "uq_warpool_activity_log" ON "WarpoolActivity"("txHash", "logIndex");

-- AddForeignKey
ALTER TABLE "Collection" ADD CONSTRAINT "Collection_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_single1155Id_fkey" FOREIGN KEY ("single1155Id") REFERENCES "Single1155"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFT" ADD CONSTRAINT "NFT_single721Id_fkey" FOREIGN KEY ("single721Id") REFERENCES "Single721"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NFTActivity" ADD CONSTRAINT "NFTActivity_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Erc1155Balance" ADD CONSTRAINT "Erc1155Balance_single1155Id_fkey" FOREIGN KEY ("single1155Id") REFERENCES "Single1155"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceListing" ADD CONSTRAINT "MarketplaceListing_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceListing" ADD CONSTRAINT "MarketplaceListing_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Auction" ADD CONSTRAINT "Auction_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Auction" ADD CONSTRAINT "Auction_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuctionBid" ADD CONSTRAINT "AuctionBid_auctionId_fkey" FOREIGN KEY ("auctionId") REFERENCES "Auction"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuctionBid" ADD CONSTRAINT "AuctionBid_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeployedContract" ADD CONSTRAINT "DeployedContract_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeployedContract" ADD CONSTRAINT "DeployedContract_single1155Id_fkey" FOREIGN KEY ("single1155Id") REFERENCES "Single1155"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeployedContract" ADD CONSTRAINT "DeployedContract_single721Id_fkey" FOREIGN KEY ("single721Id") REFERENCES "Single721"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeeConfigLog" ADD CONSTRAINT "FeeConfigLog_feeConfigId_fkey" FOREIGN KEY ("feeConfigId") REFERENCES "FeeConfig"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PublicSale" ADD CONSTRAINT "PublicSale_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Presale" ADD CONSTRAINT "Presale_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PresaleWhitelistAddress" ADD CONSTRAINT "PresaleWhitelistAddress_presaleId_fkey" FOREIGN KEY ("presaleId") REFERENCES "Presale"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssetUpload" ADD CONSTRAINT "AssetUpload_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "Collection"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssetUpload" ADD CONSTRAINT "AssetUpload_single1155Id_fkey" FOREIGN KEY ("single1155Id") REFERENCES "Single1155"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssetUpload" ADD CONSTRAINT "AssetUpload_single721Id_fkey" FOREIGN KEY ("single721Id") REFERENCES "Single721"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CollectionSubmission" ADD CONSTRAINT "CollectionSubmission_submittedByUserId_fkey" FOREIGN KEY ("submittedByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceSale" ADD CONSTRAINT "MarketplaceSale_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceSale" ADD CONSTRAINT "MarketplaceSale_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardAccumulatorMulti" ADD CONSTRAINT "RewardAccumulatorMulti_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HolderRewardMulti" ADD CONSTRAINT "HolderRewardMulti_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HolderRewardMulti" ADD CONSTRAINT "HolderRewardMulti_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardDistributionLog" ADD CONSTRAINT "RewardDistributionLog_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardClaimLog" ADD CONSTRAINT "RewardClaimLog_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RewardClaimLog" ADD CONSTRAINT "RewardClaimLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StolenItem" ADD CONSTRAINT "StolenItem_reporterUserId_fkey" FOREIGN KEY ("reporterUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MultisigOwner" ADD CONSTRAINT "MultisigOwner_safeId_fkey" FOREIGN KEY ("safeId") REFERENCES "MultisigSafe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MultisigTx" ADD CONSTRAINT "MultisigTx_safeId_fkey" FOREIGN KEY ("safeId") REFERENCES "MultisigSafe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MultisigApproval" ADD CONSTRAINT "MultisigApproval_txId_fkey" FOREIGN KEY ("txId") REFERENCES "MultisigTx"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolEntry" ADD CONSTRAINT "WarpoolEntry_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES "WarpoolPool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolEntry" ADD CONSTRAINT "WarpoolEntry_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolEntry" ADD CONSTRAINT "WarpoolEntry_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolEntry" ADD CONSTRAINT "WarpoolEntry_reservationId_fkey" FOREIGN KEY ("reservationId") REFERENCES "WarpoolReservation"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolReservation" ADD CONSTRAINT "WarpoolReservation_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES "WarpoolPool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolReservation" ADD CONSTRAINT "WarpoolReservation_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolReservation" ADD CONSTRAINT "WarpoolReservation_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolBattle" ADD CONSTRAINT "WarpoolBattle_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES "WarpoolPool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolBattleMatch" ADD CONSTRAINT "WarpoolBattleMatch_battleId_fkey" FOREIGN KEY ("battleId") REFERENCES "WarpoolBattle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolCapture" ADD CONSTRAINT "WarpoolCapture_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "WarpoolEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolCapture" ADD CONSTRAINT "WarpoolCapture_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolCapture" ADD CONSTRAINT "WarpoolCapture_originalOwnerId_fkey" FOREIGN KEY ("originalOwnerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolCapture" ADD CONSTRAINT "WarpoolCapture_relistListingId_fkey" FOREIGN KEY ("relistListingId") REFERENCES "MarketplaceListing"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolActivity" ADD CONSTRAINT "WarpoolActivity_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES "WarpoolPool"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolActivity" ADD CONSTRAINT "WarpoolActivity_entryId_fkey" FOREIGN KEY ("entryId") REFERENCES "WarpoolEntry"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolActivity" ADD CONSTRAINT "WarpoolActivity_reservationId_fkey" FOREIGN KEY ("reservationId") REFERENCES "WarpoolReservation"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolActivity" ADD CONSTRAINT "WarpoolActivity_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarpoolActivity" ADD CONSTRAINT "WarpoolActivity_nftId_fkey" FOREIGN KEY ("nftId") REFERENCES "NFT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

